form{
    border: 1px solid;
    padding: 10px;
    border-radius: 3px;
    background-color: #fbfbfb;
    width: 50%;
    min-width: 335px;
}

.tdl-form-element{
    width: 100%;
    margin-bottom: 15px;
}

.tdl-buttons-form{
    display: flex;
    justify-content: space-around;
}